<div class="container-fluid">
    <div class="row justify-content-around bg-light">

        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <%= image_tag "estimation.jpg" , class:"card-img-top" ,alt:"Card image cap"%>
                <h5 class="card-title font-weight-bold">L’estimation de votre bien</h5>
                <p class="card-text">L’estimation du bien consiste à trouver le prix adéquat 
                    pour ne pas décourager les clients et 
                    permettre à votre bien de se vendre rapidement avec un montant optimal. 
                    Cela se fait par un état des lieux et 
                    un benchmarking prix des biens similaires sur le marché.

                </p>
            </div>
        </div>
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <%= image_tag "photo.jpg" , class:"card-img-top" ,alt:"Card image cap"%>
                <h5 class="card-title font-weight-bold">Le reportage photo</h5>
                <p class="card-text">Pour représenter votre bien sous son plus beau profil, 
                    REA collabore avec des photographes professionnels pour réaliser 
                    des reportages photos et/ou vidéos. Selon votre bien et sa valeur, 
                    on peut utiliser 
                    des outils comme des drones pour une vue aérienne ou des 
                    rails pour une visite virtuelle.
                </p>
            </div>
        </div>
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <%= image_tag "decision.jpg" , class:"card-img-top" ,alt:"Card image cap"%>
                <h5 class="card-title font-weight-bold">Le tri des acquéreurs potentiels</h5>
                <p class="card-text">
                    Pour les clients vraiment intéressés, nous effectuons la visite de votre bien, 
                    et cela même le week-end. Après chaque visite nous vous envoyons 
                    un compte rendu. 
                    Nous entretenons une relation avec ces clients et effectuons
                    des relances périodiques pour les aider à avancer dans leur 
                    processus de décision d’achat.   
                </p>
            </div>
        </div>
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Le home staging</h5>
                <p class="card-text">
                    Suite à l’état des lieux, REA peut vous proposer 
                    quelques travaux ou réhabilitation à faire pour 
                    maximiser la valeur de votre bien. 
                </p>
            </div>
        </div>        
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <%= image_tag "social.jpg" , class:"card-img-top" ,alt:"Card image cap"%>
                <h5 class="card-title font-weight-bold">La promotion</h5>
                <p class="card-text ">
                    La promotion de votre bien comprend une mise en ligne sur les réseaux sociaux 
                    (Facebook et /ou Instagram) et sur notre site web, 
                    des campagnes publicitaires (locales et/ou étrangères), 
                    l’envoi de mails aux clients potentiellement intéressés par votre bien.
                </p>
            </div>
        </div>
        
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">L’assistance juridique et administrative </h5>
                <p class="card-text"></p>
                Une fois un acquéreur trouvé, 
                nous vous offrons une assistance 
                dans la rédaction de l’acte de vente.
            </div>
        </div>
        
        <div class="card  card m-3 p-0 col-md-3">
            <div class="card-body">
                <%= image_tag "bonus.jpg" , class:"card-img-top" ,alt:"Card image cap"%>
                <h5 class="card-title font-weight-bold">Le bonus</h5>
                <p class="card-text">
                    Après la réalisation de la vente, REA peut vous conseiller dans 
                    vos investissements immobiliers et vous aider à faire le choix 
                    de votre prochaine acquisition. 
                </p>
            </div>
        </div>
        

    </div>
</div>