<div class="d-flex justify-content-around mb-5 pl-4 pr-4">
  <div>

    <h2 class="text-center text-info font-weight-bold">Creer un compte</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field  mt-3">
        <%= f.label :email,class:"font-weight-bold text-dark" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
        class:"form-control mr-sm-2 border border-info rounded" %>
      </div>

      <div class="field  mt-3">
        <%= f.label "Mot de passe",class:"font-weight-bold text-dark" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractères minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "Nouveau mot de passe",
        class:"form-control mr-sm-2 border border-info rounded" %>
      </div>

      <div class="field  mt-3">
        <%= f.label "Confirmez votre mot de passe",class:"font-weight-bold text-dark" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "Mot de passe",
        class:"form-control mr-sm-2 border border-info rounded" %>
      </div>

      <div class="actions mt-3">
        <%= f.submit "Creer un compte",class:"btn btn-info"%>
      </div><br>
    <% end %>
    <%= render "devise/shared/links" %>

  </div>

</div>