<div class="d-flex justify-content-around mb-5">
    <% if @commit && !@validate %>
        <div>

            <h2 class="mb-5 text-center text-info font-weight-bold">
            Contactez nous
            </h2>

            <%= form_for(contactez_nous_path , method: :get) do |f| %>

                <div class="field mt-3">
                    <%= f.label :nom ,class:"font-weight-bold text-dark"%>*<br />
                    <%= f.text_field :nom , value: @nom,class:"form-control mr-sm-2 border border-info rounded"%>
                </div>
                <% if @nom.empty? %>
                <div class="text-danger">
                    Veuillez founir votre nom
                </div> 
                <% end %>

                <div class="field mt-3">
                    <%= f.label :email ,class:"font-weight-bold text-dark"%>*<br />
                    <%= f.text_field :email ,value: @email,class:"form-control mr-sm-2 border border-info rounded"%>
                </div>
                <% if @email.empty? %>
                <div class="text-danger">
                    Veuillez founir votre adresse email
                </div>
                <%end%>

                <div class="field mt-3">
                    <%= f.label :objet ,class:"font-weight-bold text-dark" %>*<br />
                    <%= f.text_field :objet ,value: @objet,class:"form-control mr-sm-2 border border-info rounded"%>
                </div>

                <div class="field mt-3">
                    <%= f.label :message ,class:"font-weight-bold text-dark" %>*<br />
                    <%= text_area_tag(:message,@message, size: "40x6",class:"form-control mr-sm-2 border border-info rounded") %>
                </div>
                <% if @message.empty? %>
                <div class="text-danger">
                    Message vide !
                </div>
                <% end %>
                <div class="actions">
                    <%= f.submit "Envoyer" , class:"m-3 btn btn-success"%>
                    <p class="text-secondary text-sm ml-3"> 
                        <small> * Champ obligatoire</small>
                    </p>
                </div>

            <% end %>
        </div>

    <% elsif @commit && @validate %>
        <div class="alert alert-success" role="alert">
            Message envoyé !
        </div>
    <% else %>
    <div>
    
        <h2 class="field mb-5 text-center text-info font-weight-bold">Contactez nous</h2>

        <%= form_for(contactez_nous_path , method: :get) do |f| %>
        <div class="field m-3">
            <%= f.label :nom , class:"font-weight-bold text-dark"%>*<br />
            <%= f.text_field :nom,class:"form-control mr-sm-2 border border-info rounded"%>
        </div>
        <div class="field m-3">
            <%= f.label :email ,class:"font-weight-bold text-dark" %>*<br />
            <%= f.text_field :email,class:"form-control mr-sm-2 border border-info rounded" %>
        </div>
        <div class="field m-3">
            <%= f.label :objet ,class:"font-weight-bold text-dark" %>*<br />
            <%= f.text_field :objet,class:"form-control mr-sm-2 border border-info rounded"%>
        </div>
        <div class="field m-3">
            <%= f.label :message ,class:"font-weight-bold text-dark"%>*<br />
            <%= text_area_tag(:message, "", size: "40x6",class:"form-control mr-sm-2 border border-info rounded") %>
        </div>
        <div class="actions">
            <%= f.submit "Envoyer" , class:"m-3 btn btn-success"%>
            <p class="text-secondary text-sm ml-3"> 
                <small> * Champ obligatoire</small>
            </p>
        </div>
        <% end %>
    </div>

    <% end %>
</div>

