<!DOCTYPE html>
<html>
<head>
      <%= javascript_include_tag "indexAnnonces.js" %>
    <title>Annonces</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%=link_to "Biens à vendre",annonces_path(:sort =>"vente"),id:"bt-vente",class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%=link_to "Biens à louer",annonces_path(:sort =>"location"),id:"bt-location",class:"nav-link"%>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Type de bien
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%unless(  @sort.eql?("maison") || @sort.eql?("appartement") )%>
              <%=link_to "Maison",annonces_path(:sort =>"maison",:precSort=>@sort),id:"bt-maison",class:"dropdown-item"%>
              <%=link_to "Appartement",annonces_path(:sort =>"appartement",:precSort=>@sort),id:"bt-appart",class:"dropdown-item"%>
              <%else%>
              <%=link_to "Maison",annonces_path(:sort =>"maison",:precSort=>@secondSort),id:"bt-maison",class:"dropdown-item"%>
              <%=link_to "Appartement",annonces_path(:sort =>"appartement",:precSort=>@secondSort),id:"bt-appart",class:"dropdown-item"%>      
              <%end%>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Trier par
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%unless(  @sort.eql?("prixAsc") || @sort.eql?("prixDesc") )%>
                <%=link_to "Du - cher au + cher",annonces_path(:sort =>"prixAsc",:precSort=>@sort),id:"bt-appart",class:"dropdown-item"%>
                <%=link_to "Du + cher au - cher",annonces_path(:sort =>"prixDesc",:precSort=>@sort),id:"bt-appart",class:"dropdown-item"%>
              <%else%>
                <%=link_to "Du - cher au + cher",annonces_path(:sort =>"prixAsc",:precSort=>@secondSort),id:"bt-appart",class:"dropdown-item"%>
                <%=link_to "Du + cher au - cher",annonces_path(:sort =>"prixDesc",:precSort=>@secondSort),id:"bt-appart",class:"dropdown-item"%>
              <%end%> 

              <%unless(  @sort.eql?("dateAsc") || @sort.eql?("dateDesc") )%>
                <%=link_to "Plus recent",annonces_path(:sort =>"dateDesc",:precSort=>@sort),id:"bt-appart",class:"dropdown-item"%>
                <%=link_to "Moin recent",annonces_path(:sort =>"dateAsc",:precSort=>@sort),id:"bt-appart",class:"dropdown-item"%>
              <%else%>
                <%=link_to "Plus recent",annonces_path(:sort =>"dateDesc",:precSort=>@secondSort),id:"bt-appart",class:"dropdown-item"%>
                <%=link_to "Moin recent",annonces_path(:sort =>"dateAsc",:precSort=>@secondSort),id:"bt-appart",class:"dropdown-item"%>
              <%end%>

            </div>
          </li>
        </ul>
      </div>
    </nav>
    <h5 class="badge badge-pill badge-info"><%=@sort%></h5>
    <h5 class="badge badge-pill badge-info"><%=@secondSort%></h5>
    <div class="container-fluid">
      <div id="cardsannonces"class="row justify-content-around bg-light">
        <%if @annonces==nil || @annonces.empty? then %>
            <div class="alert alert-warning" role="alert">
              Aucune annonce trouvée ! 
            </div>
        <%else%>
            <%@annonces.each{ |an|%>
                <div class="card m-3 p-0 col-md-3  ">
                    
                    <% if !an.photos.empty? %>
                      <img class="card-img-top rounded" src=<%=an.photos.first.url%> alt="Card image cap"> 
                      <% else %>
                      <%= image_tag "ReaFront.jpg" , class:"card-img-top rounded" ,alt:"Empty image"%>
                    <% end %>
                    
                    <div class="card-body">
                        <h4><%=link_to "#{an.typeBien} à #{an.lieu}" , annonce_path(id:an.id) ,class:"card-title text-dark font-weight-bold" %></h4>
                        <% if an.Vente? %>
                        <p class="card-subtitle mb-2 text-dark font-weight-bold">À vendre</p>
                        <% else %>
                        <p class="card-subtitle mb-2 text-dark font-weight-bold">À louer</p>
                        <% end %>
                        <p class="card-subtitle mb-2 text-primary "><%=an.loyer_total%> Ar </p>
                        <p class="card-subtitle mb-2 text-muted">
                          <%= image_tag "bed.svg" ,width:"25" ,height:"25" ,class:" align-top" ,alt:"Rea Brand"%>
                          <%=an.capacite%> Chambres 
                        </p>
                        <p class="card-text text-truncate"><%=an.description%></p>
                        <p class="card-subtitle mb-2 text-muted">
                        <%=an.created_at.to_date%>
                        </p>
                    </div>
                </div>
            <%}%>
        <%end%>
      </div>
    </div>

</body>

</html>
