<html>

<head>
    <title>Creation d'annonce</title>
</head>

<body>
    <% if @error != nil %>
    <div class="alert alert-danger" role="alert">
        <% @error.each do |item| %>
        <p><%=item%></p>
        <%end %>
    </div>
    <% end %>

    <div class="d-flex justify-content-around mb-5 pl-4 pr-4">
        <%= form_for @annonce ,class:"input-group" do |f|%>

        <h1 class="field mb-5 text-center text-info font-weight-bold">
            Creation d'annonce
        </h1>

        <div class="field mt-3">
            <%= f.label :lieu ,class:"font-weight-bold text-dark" %>
            <%= f.text_field :lieu ,class:"form-control mr-sm-2 border border-info rounded"%>
        </div>

        <div class="field mt-3">
            <%= f.label :prix ,class:"font-weight-bold text-dark" %>
            <%= f.number_field :loyer_total,min:"0",value:"0",
            class:"form-control mr-sm-2 border border-info rounded"%>
        </div>

        <div class="field mt-3">
            <%= f.label :capacite ,class:"font-weight-bold text-dark"%>
            <%= f.number_field :capacite,min:"1",value:"1",
            class:"form-control mr-sm-2 border border-info rounded"%>
        </div>

        <div class="field mt-3">
            <%= f.label :description ,class:"font-weight-bold text-dark" %><br>
            <%= f.text_area :description ,:rows=>5, :cols=>60 ,class:" form-control mr-sm-2 border border-info rounded"%>
        </div>

        <div class="field mt-3">
            <%= f.label"Type de vente" ,class:"font-weight-bold text-dark"%><br>
            <%= f.radio_button(:typeVente,"Vente") %>
            <%= f.label(:vente, "Vente",class:"text-secondary") %>
            <%= f.radio_button(:typeVente, "Location") %>
            <%= f.label(:location, "Location",class:"text-secondary") %>
        </div>


        <div class="field mt-3">
            <%= f.label'Type de bien' ,class:"font-weight-bold text-dark"%><br>
            <%= f.radio_button(:typeBien, "Appartement") %>
            <%= f.label(:appartement, "Appartement",class:"text-secondary") %>
            <%= f.radio_button(:typeBien,"Maison") %>
            <%= f.label(:maison, "Maison",class:"text-secondary") %>
        </div>


        <div class="field mt-3">
            <%=f.file_field :images ,multiple:true,
            accept:'image/png,image/gif,image/jpeg'
            %>
        </div>    
            
        <div class="field mt-3">
            <%= f.check_box(:AlaUne)%>
            <%= f.label(:AlaUne,"Annonce à la une",class:"font-weight-bold text-dark") %>
        </div>

        <div class="actions mt-3">
            <%= f.submit value:"Créer annonce",class:"btn btn-info " %>
        </div>

        <%end%>

    </div>

</body>

<footer>
</footer>

</html>