<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  .card {
    max-width: 900px;
    height: 600px;
  }

  .carousel {
    max-width: 900px;
  }

  .fit-image {
    object-fit: cover;
    max-width: 900px;
    height: 600px;
  }

  .ruboto {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
</style>

<meta property="og:image" content='<%=@first.url%>'/>
<meta property="og:description" content= "<%= @annonce.description%>" />
<meta property="og:title" content="<%=@annonce.lieu%>"/>
<meta property="og:type" content="<%=@annonce.typeBien%>"/>
<meta property="og:url" content="reagency-mada.com"/>
<meta property="og:image" content="<%=@first.url%>"/>

<div id="carouselExampleIndicators" class="carousel slide wrap  mx-auto col-sm m-5 " data-ride="carousel">

  <div class="carousel-inner mx-auto" role="listbox">
    <div class="carousel-item active m-1">
      <% if !@photos.empty? %>
      <a class="text-center" href=<%=@first.url%>>
        <img class="d-block mx-auto img-responsive fit-image" src=<%=@first.url%> alt="First slide">
      </a>
      <% else %>
      <%= image_tag "ReaFront.jpg" , width:"400" ,height:"400", class:"card-img-top rounded" ,alt:"Empty image"%>
      <% end %>
    </div>

    <% if !@photos.empty? %>
    <% @lasts.each do |photo| %>
    <div class="carousel-item m-1 text-center">
      <a class="text-center" href=<%=photo.url%>>
        <img class="d-block mx-auto img-responsive fit-image " src=<%=photo.url%> alt="photo">
      </a>
    </div>
    <% end %>
    <% end %>

  </div>
  <% if !@photos.empty? || @photos.size == 1 %>
  <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon bg-dark " aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon bg-dark " aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <%end%>
</div>

<div class="card mx-auto border border-light bg-light  mb-5 ">
  <div class="card-body">
    <h3 class="card-title text-dark font-weight-bold title">
      <%="#{@annonce.typeBien} à #{@annonce.lieu}"%>
      <% if @admin==true %>
      <%= link_to edit_admin_annonce_path  do %>
      <%= image_tag "set.svg" ,width:"20" ,height:"20" ,class:"align-top card-title" ,alt:"Rea Brand"%>
      <% end %>
      <% end %>
    </h3>
    <% if @annonce.Vente? %>
    <p class="card-subtitle mb-2 text-dark font-weight-bold">À vendre</p>
    <% else %>
    <p class="card-subtitle mb-2 text-dark font-weight-bold">À louer</p>
    <% end %>
    <p class="card-subtitle mb-2 text-primary"><%=@prix%></p>
    <% if @annonce.capacite > 0 %>
    <p class="card-subtitle mb-2 text-muted">
      <%= image_tag "bed.svg" ,width:"25" ,height:"25" ,class:" align-top" ,alt:"Rea Brand"%>
      <%=@annonce.capacite%> Chambres
    </p>
    <% end %>
    <pre class="card-text text-secondary ruboto"><%=@annonce.description%></pre>
  </div>
</div>