

<div id="carouselExampleIndicators" class="carousel slide w-75 mx-auto col-sm" data-ride="carousel">

  <div class="carousel-inner w-75 mx-auto" role="listbox" style="height: 350px !important;" >
    <div class="carousel-item active">     
      <% if !@photos.empty? %>
          <a href= <%=@photos.last.url%> >
          <img class="d-block w-100 "src=<%=@photos.last.url%> alt="First slide">
          </a>
          <% else %>
          <img class="d-block w-100 "src="https://i.imgur.com/u4qCmmYl.jpg" alt="First slide">
      <% end %>
    </div>
  
  <% if !@photos.empty? %>
    <% @photos.each do |photo| %>    
      <div class="carousel-item">
      <a href= <%=photo.url%> >
         <img class="d-block w-100 " src=<%=photo.url%> alt="photo">
      </a>
      </div>
    <% end %>
  <% end %>
  

  
  </div>
  <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="card mt-3 mb-5" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"><%=@annonce.lieu%></h5>
    <h6 class="card-subtitle mb-2 text-info"><%=@annonce.loyer_total%> Ar</h6>
    <p class="card-text text-secondary"><%=@annonce.description%></p>

  </div>
</div>