<!DOCTYPE html>
<html>
  <head>
    <title>Rea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_includes %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  </head>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <%= link_to annonces_path do %>
    <%= image_tag "logoRea.png" ,width:"40" ,height:"40" ,class:"d-inline-block align-top" ,alt:""%>
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
        <%= link_to 'Logements', annonces_path ,class:"nav-link"%>
      </li>

      </li> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user && user_signed_in? %>
            <%= link_to 'Compte', edit_user_registration_path(current_user), class:"dropdown-item"  %>
            <%= link_to 'Se deconnecter', destroy_user_session_path ,method: :delete , class:"dropdown-item" %>
          <%else%>
            <%= link_to 'Se connecter', new_user_session_path ,class:"dropdown-item" %>
            <%= link_to "S'inscrire", new_user_registration_path ,class:"dropdown-item" %>
          <%end%>
          
          <% if current_user && user_signed_in? && current_user.admin? %>
            <div class="dropdown-divider"></div>
            <%= link_to "Interface administrateur", admin_root_path ,class:"dropdown-item" %>
          <% end %>
        
        </div>
      </li>     

    </ul>
      <%=form_tag( annonces_path, method: :get,class:"form-inline my-2 my-lg-0") do |f| %>
      <%=text_field_tag(:search, params[:search],class:"form-control mr-sm-2") %>
      <%=submit_tag("Recherche",class:"btn btn-outline-success my-2 my-sm-0")%>
      <% end %>
  </div>
  </nav>

  
  <% if user_signed_in? %>
    <p class="notice text-white bg-success"><%= notice %></p>
    <% else %>
    <p class="notice text-white bg-warning"><%= notice %></p>
  <% end %>
  

  <body>
    <%= yield %>
  </body>


</html>
